/* list-item.css */

.list-item {
  position: relative;
  display: inline-block;
  margin: 10px;
  clear: both;
}

.list-item .image-container {
  background: #28211f none repeat scroll 0 0;
  display: inline-block;
  padding: 15px;
}

.list-item .details {
  display: inline-block;
  width: 40%;
  margin: 10px;
  vertical-align: middle;
  min-height: 175px;
}

@media all and (max-width: 850px) {
  .list-item .details {
    width: 80%;
  }
}

@media all and (max-width: 650px) {
  .list-item .details {
    min-height: 0;
  }
}

.list-item .details h4 {
  margin-top: 0;
}
