/* app.css */

/*
Teal: #00B2BA
Brown: #28211F
*/

html, body { height: 100%; }

#content {
  height: 100%;
  background: url('http://lorempixel.com/1024/486/food/5');
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.header {
  background-color: #28211F;
  width: 100%;
  height: 200px;
  text-align: center;
}

.header .logo {
  margin: 67px 20px;
}

.menu-bar {
  width: 100%;
  background: #ccbbaa;
  position: relative;
  text-align: center;
}

.menu-bar>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-bar .menu li {
  display: inline-block;
  padding: 20px;
}
